<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="hospital_menu_root"
        name="HMS"
        />

    <menuitem
        id="hospital_menu_sub"
        name="Front Desk"
        parent="hospital_menu_root"/>

    <menuitem
        id="hospital_menu_subsub"
        name="Patient"
        parent="hospital_menu_sub" 
        action="action_hospital_patient" />
    <menuitem
        id="hospital_readonly_menu"
        name="Patient View"
        parent="hospital_menu_sub" 
        action="action_hospital_patient_readonly" />

    <menuitem
        id="hospital_appointment_menu"
        name="Appointment View"
        parent="hospital_menu_sub" 
        action="action_hospital_appointment" />

    <menuitem
        id="widget_menu"
        name="Widget View"
        parent="hospital_menu_root" 
        action="action_widget_patient_view" />

    <menuitem
        id="owl_menu"
        name="OWL"
        parent="hospital_menu_root" 
        action="action_odo_owl" />

</odoo>
