<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="column_model_menu"
        name="Column"
        sequence="10"/>

    <menuitem
        id="property_model_sub_menu"
        name="Property"
        action="property_model_action"
        parent="column_model_menu"
        sequence="10"/>
    
    <menuitem
        id="block_model_menu"
        name="Block"
        action="block_model_action"
        parent="column_model_menu"
        sequence="10"/>
   
    <menuitem
        id="unit_model_menu"
        name="Unit"
        action="unit_model_action"
        parent="column_model_menu"
        sequence="10"/>

</odoo>
